{% extends 'base.html.twig' %}

{% block title %}dmclothing{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

{# <div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1> #}

    {# This friendly message is coming from:
    {# <ul>
        <li>Your controller at <code><a href="{{ 'C:/wamp64/www/dmclothing.symfony/dmclothing/src/Controller/CoockiesController.php'|file_link(0) }}">src/Controller/CoockiesController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/wamp64/www/dmclothing.symfony/dmclothing/templates/coockies/index.html.twig'|file_link(0) }}">templates/coockies/index.html.twig</a></code></li>
    </ul> #} 
</div>
 <h1 align="center">Cockies d'utilisation</h1> <br> <br>
    
    Politique de cookies

    Notre site web utilise des cookies pour améliorer votre expérience de navigation et pour nous aider à comprendre comment nous pouvons améliorer notre site pour nos clients. Cette page décrit les types de cookies que nous utilisons, les informations qu'ils collectent et comment vous pouvez les gérer.
    
    Qu'est-ce qu'un cookie ?<br>
    
    Un cookie est un petit fichier texte qui est stocké sur votre ordinateur ou votre appareil mobile lorsque vous visitez un site <br> 
    
    Les cookies sont utilisés pour stocker des informations sur vos préférences et pour vous identifier lorsque vous revenez sur le site. Les cookies peuvent être temporaires (cookies de session) ou permanents (cookies persistants). <br>
    
    Quels types de cookies utilisons-nous ?<br>
    
    Nous utilisons différents types de cookies pour améliorer votre expérience de navigation sur notre site web : <br>
    
    Cookies de performance : Ces cookies collectent des informations sur la façon dont vous utilisez notre site web, telles que les pages que vous visitez le plus souvent, les erreurs que vous rencontrez et les liens sur lesquels vous cliquez. Ces informations nous aident à améliorer la performance de notre site web. <br>
    
    Cookies de fonctionnalité : Ces cookies permettent à notre site web de se souvenir des choix que vous faites, comme la langue que vous préférez ou votre nom d'utilisateur. Ces cookies peuvent également être utilisés pour vous fournir des fonctionnalités personnalisées. <br>
    
    Cookies de suivi : Ces cookies collectent des informations sur vos habitudes de navigation et sont utilisés pour vous présenter des publicités ciblées qui sont plus pertinentes pour vous. <br>
    
    Comment gérer les cookies ?<br>
    
    Vous pouvez gérer les cookies en modifiant les paramètres de votre navigateur. Veuillez noter que si vous désactivez les cookies, certaines fonctionnalités de notre site web peuvent ne pas fonctionner correctement. <br> 
    
    Si vous souhaitez en savoir plus sur les cookies et leur utilisation, vous pouvez consulter notre politique de confidentialité. <br>
    
    Nous espérons que cette page vous a fourni des informations utiles sur les cookies et leur utilisation sur notre site web. Si vous avez des questions ou des préoccupations, veuillez nous contacter.
              
{% endblock %}
