{% extends 'base.html.twig' %}

{% block title %}dmclothing{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


    


 <h1 align="center">POLITIQUE DE confidentialite</h1> <br> <br>
    Chez [nom de l'entreprise], nous sommes engagés à protéger votre vie privée et à respecter vos données personnelles. Cette politique de confidentialité décrit les informations que nous collectons, comment nous les utilisons et comment nous les protégeons. <br>

    Les informations que nous collectons <br>
    
    Nous collectons les informations suivantes lorsque vous utilisez notre site web : <br>
    
    Les informations de contact, telles que votre nom, votre adresse e-mail et votre numéro de téléphone, lorsque vous créez un compte ou passez une commande ;
    Les informations de paiement, telles que votre numéro de carte de crédit, lorsque vous passez une commande ;
    Les informations de livraison, telles que votre adresse de livraison, lorsque vous passez une commande ;
    Les informations sur votre utilisation de notre site web, telles que les pages que vous visitez, les produits que vous consultez et les achats que vous effectuez.
    Comment nous utilisons vos informations <br>
    
    Nous utilisons vos informations pour les finalités suivantes : <br>
    
    Pour traiter et livrer vos commandes ;
    Pour communiquer avec vous sur vos commandes et vos comptes ;
    Pour améliorer notre site web et nos offres de produits ;
    Pour vous fournir des offres personnalisées et des recommandations de produits ;
    Pour vous envoyer des e-mails marketing si vous avez choisi de les recevoir ;
    Pour répondre à vos questions et à vos demandes de renseignements.
    Comment nous protégeons vos informations <br>
    
    Nous prenons la sécurité de vos informations très au sérieux et nous avons mis en place des mesures de sécurité pour protéger vos informations contre la perte, l'utilisation abusive et l'accès non autorisé. Nous ne vendons pas, ne louons pas et ne partageons pas vos informations avec des tiers, sauf si cela est nécessaire pour traiter votre commande ou si nous y sommes obligés par la loi.  <br>
    
    Vos droits <br>
    
    Vous avez le droit de demander l'accès, la rectification ou la suppression de vos informations personnelles. Si vous souhaitez exercer ces droits, veuillez nous contacter par e-mail ou par courrier postal. Vous pouvez également vous désabonner de nos e-mails marketing en cliquant sur le lien de désabonnement inclus dans chaque e-mail. <br>
    
    Modifications de la politique de confidentialité  <br>
    
    Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment en publiant une version mise à jour sur notre site web. Nous vous encourageons à consulter régulièrement cette page pour prendre connaissance des modifications éventuelles. <br>
    
    Nous espérons que cette politique de confidentialité vous a fourni les informations dont vous avez besoin sur la manière dont nous collectons, utilisons et protégeons vos informations personnelles. Si vous avez des questions ou des préoccupations, veuillez nous contacter. <br>

{% endblock %}
